<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
  <%= image_tag('I retouched2.jpg', class: 'background-image', alt: 'Profile Image') %>
  <img src="" alt="">
  </div>

  <div class="col-md-8">
     <p>Find me in app/views/pages/about.html.erb</p>
  </div>
</div>
